.searchbox {
    width: 150px;
    display: flex;
    justify-content: center;
    display: flex;
    &__input {
        width: 25vw;
        margin: 17px 10px;
        margin-top: 25px;
        height: 20px;
        font-size: 0.8rem;
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
    }
}

@media screen and (min-width: 820px) {
    .searchbox {
        padding-left: 33px;
        padding-right: 10px;
        &__input {
            width: 18vw;
            transition: 0.5s;
            height: 35px;
            font-size: 1.2em;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .searchbox {
        padding-left: 55px;
        padding-right: 10px;
        &__input {
            width: 19vw;
            transition: 0.5s;
            height: 35px;
            font-size: 1.2em;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 1800px) {
    .searchbox {
        &__input {
            width: 16vw;
            transition: 0.5s;
            height: 35px;
            font-size: 1.2em;
            padding: 5px;
        }
    }
}