.nav-searchbox {
    width: 30vw;
    height: 250vh;
    background-color: rgb(255, 255, 110);
    position: sticky;
    margin-right: 20px;
    padding: 10px;
}

h1 {
    font-size: 1rem;
    padding: 10px;
}

@media screen and (min-width: 820px) {
    .nav-searchbox {
        width: 15vw;
        transition: 0.5s;
    }

    h1 {
        font-size: 1.2rem;
    }
}