.nav {
    display: flex;
    width: 100vw;
    background-color: rgb(255, 255, 110);
    margin-right: 20px;
    padding: 10px;
}

h1 {
    display: none;
    font-size: 0.6rem;
    padding: 5px 0;
    text-align: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    margin-right: 120px;
}

.logo {
    padding: 0;
    width: 75px;
    height: 75px;
}

@media screen and (min-width: 820px) {
    .nav {
        width: 25vw;
        transition: 0.5s;
        flex-direction: column;
    }

    h1 {
        font-size: 1.3rem;
    }

    .logo {
        padding: 0;
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        width: 20vw;
        transition: 0.5s;
    }

    h1 {
        display: block;
        font-size: 1.3rem;
    }

    .logo {
        padding: 0;
        width: 140px;
        height: 140px;
    }

}

@media screen and (min-width: 1800px) {
    .nav {
        width: 15vw;
        transition: 0.5s;
    }

    h1 {
        font-size: 1.3rem;
    }

    .logo {
        padding: 0;
        width: 140px;
        height: 140px;
    }

}
