.nav-searchbox {
    width: 30vw;
    height: 250vh;
    background-color: rgb(255, 255, 110);
    position: sticky;
    margin-right: 20px;
    padding: 10px;
}

h1 {
    font-size: 1rem;
    padding: 10px;
}