* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
}

.main-body__title {
    text-align: start;
    font-size: 1.4rem;
}

@media screen and (min-width: 820px) {
    .App {
        flex-direction: row;
    }
    .main-body__title {
    text-align: center;
    font-size: 2rem;
    }
}